body{
    
    font-family:sans-serif;
    background-color: rgb(140, 196, 244);
    text-align: center;
  }

h1{
  text-align: center;
  margin-top: 50px;
}

#table{
  margin-top: 100px;
}
#prenoms{
  position: absolute;
  top: 1%;
  left: 1%;
}